<!DOCTYPE html>
  <head>
    <title>Node: Workshop 2</title>
    <link rel="stylesheet" href="./css/homepage.css">
  </head>
<body>
  <%- include('../partials/header') %>
  <div class="main">
    <h2>Part 2</h2>
    <div class="content">

      <div class="box answer">
        <h3>Answer</h3>
        <a href="/question7">Question 1</a>
        <a href="/question9">Question 2</a>
        <a href="/question7">Question 3</a>
        <a href="/question9">Question 4</a>
        <a href="/question7">Question 5</a>
        <a href="/question9">Question 6</a>
        <a href="/question7">Question 7</a>
        <a href="/question9">Question 9</a>
        <a href="/question10">Question 10</a>

      </div>
    </div>
  </div>
</body>