<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <div class="main">
    <h2>Part 2</h2>
    <div class="content">
      <%- include('../partials/questions/8') %>
      <div class="box answer">
        <h3>Answer</h3>
        <a href="/question7">Question 7</a>
        <a href="/question9">Question 9</a>
        <p>No answer required here...</p>
      </div>
    </div>
  </div>
</body>
