<!DOCTYPE html>
<head>
  <title>Node: Workshop 2</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>Node: Workshop 2</h1>
  </header>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <h4>Top 5 girls names in the England and Wales</h4>
        <ol>
          
        <% popularGirlNames.forEach((name, index) => {%>
            <li> <%= index+1 %>. <%= name %></li>
          <% }); %>
        
        </ol>
      </div>
    </div>
  </div>
</body>
